* {
    font-family: sans-serif;
}

h1 {
    color: whitesmoke;
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: white;
    font-family: sans-serif;
    transition: ease .2s;
    perspective: 100px;
    transform: rotateX(15deg) rotateY(-25deg);
}

h1:hover {
    transform: scale(1.1);
    rotate: 2deg;
}

h2 {
    text-align: center;
    color: black;
    font-family: sans-serif;
    transition: ease .2s;
    transform: rotateX(15deg) rotateY(-25deg);
}

h2:hover {
    transform: scale(1.1);
    rotate: -2deg;
}

body {
    background-color: gray;
}

p {
    color: white;
    text-align: center;
    font-family: Arial;
    transition: ease .2s;
    transform: rotateX(15deg) rotateY(-25deg);
}

 div {
     border: white solid 4px;
     border-radius: 10px;
     transform: rotateX(15deg) rotateY(-25deg);
 }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border: cadetblue solid 4px;
    border-radius: 10px;
}